*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.outer{
    height: 100vh;
    background-color: black;
    display: flex;
    }
.left{
    flex-basis: 50%;
    display: flex;
    flex-direction: column; 
}
.right{
    flex-basis: 50%;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.left > .card1{
    height: 300px;
    background-color: burlywood;
    text-align: center;
    border-radius: 20px;
    margin: 10px;
}

h1{
    text-transform: uppercase;
    margin: 20px;
}
.left > .card2{
    height: 300px;
    background-color: rgb(255, 145, 0);
    text-align: center;
    border-radius: 20px;
    margin: 10px;
}

.right > .card3{
    background-color: rgb(98, 184, 255);
    text-align: center;
    border-radius: 20px;
    margin: 10px;
}

@media (min-width:500px) {
    .outer{
        flex-direction: column;
    }
    
}