*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card{
    height: 100px;
    background-color: orangered;
}
.con{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.con > .box{
    height: 100px;
    width: 100px;
    border: 2px solid black;
}

@media (max-width:500px) { /* max-width it is end if in case above the width it will shows as narmal */
        .card{
            background-color: rgb(251, 2, 251);
            height: 300px;
        }    
        .con {
            flex-direction: column;        
        }
      .con >  .box{
            width: 100%;
        }
}