#nav{
    background-color: burlywood;
    height: 100px;
}
.main{
    height: 350px;
    background-color: yellow;
}
#nav > h2{
     color: red;
     font-style: italic;
     font-size: xx-large;
     text-align: center;
     padding: 25px;
}
.main > p > span{
    font-weight: bold;
    background-color: blueviolet;
}

#nav > h2{
          font-family: 'Times New Roman', Times, serif;
}

#h1{
    text-align: center;
}

.main > ol{
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    list-style: none;
    text-align: center;
}