*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}.box1{
    height: 200px;
    width: 300px;
    background-color: rgb(183, 183, 37);
    padding: 20px;
    margin: 20px;
}
.box2{
    height: 200px;
    width: 300px;
    background-color: orange;
    padding: 10px 20px;
    border: 4px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    margin: 20px;
}
button{
    padding: 10px 40px 10px 40px; /* top,right,bottom,left */
    margin: 40px;
    font-size: 15px;
}

