*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    background-color: rgb(255, 255, 147);
    display: flex;
    justify-content: center;
    align-items: center;

}

.outer > .inner{
    height: 400px;
    background-color: rgb(228, 134, 33);
    width: 250px;
    padding: 10px 20px;
    box-shadow: 0px 4px 6px black;
    border-radius: 20px;
    cursor: pointer;
     overflow: auto;
     /*
     overflow: hidden;
     overflow: scroll;
     overflow-x: auto;
     overflow-y: scroll;*/
    }

    .outer > .inner >h1{
        text-align: center;
        text-transform: uppercase;
        
    }