*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
}
.left{
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left > img{
    height: 100px;
    width: 300px;
}
.right{
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right > .r1 > form{
    width: 350px;
    background-color: rgb(234, 234, 234);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
}

.right > .r1 > form  > input{
    background-color: white;
    border: 0.1px solid gray;
    height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 10px;
}

.right > .r1 > form > #b1{
    background-color: rgb(26, 26, 213);
    color: white;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
}

.right > .r1 >form > a{
    text-align: center;
    text-decoration: none;
    color: rgb(2, 46, 87);
}

.right > .r1  > form > #b2{
     background-color: rgb(13, 214, 13);
     height: 50px;
     border-radius: 20px;
     width: 150px;
     border: 2px solid gray;
     margin-left: 30%;
}
.right > .r1 > p{
    margin-top: 20px;
     text-align: center;
    font-size: 20px;
}