*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    background-image: linear-gradient(to right,blue,white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner{
    height: 350px;
    width: 400px;
    background-image: linear-gradient(to right,yellow,rgb(255, 68, 0));
    position: relative;
}
.inner > #i1{
       height: 320px;
       width: 500px;
       position: absolute;
       bottom: 0;
       left: 0;
       

}