*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    background: linear-gradient(black,white);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.outer>.card1{
    height: 300px;
    width: 300px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

 .outer > .card2{
    height: 300px;
    width: 300px;
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.outer > .card1 .box1{
    height: 70px;
    width: 70px;
    background-color: rgb(255, 5, 218);
    position: absolute;
    top: 0;
    left: 0;
    animation: move 1.5s linear infinite alternate;
}

.outer > .card2 > .b1{
    height: 70px;
    width: 70px;
    background-color: orangered;
    position: absolute;
    top: 0;
    left: 0;
    animation: m1 1.5s linear infinite alternate;
}

.outer > .card2 > .b2{
    height: 70px;
    width: 70px;
    background-color: rgb(255, 196, 0);
    position: absolute;
    top: 0;
    right: 0;
    animation: m1 1.5s linear infinite alternate;
}
.outer > .card2 > .b3{
    height: 70px;
    width: 70px;
    background-color: rgb(38, 255, 0);
    position: absolute;
    bottom: 0;
    right: 0;
    animation: m1 1.5s linear infinite alternate;
}
.outer > .card2 > .b4{
    height: 70px;
    width: 70px;
    background-color: rgb(0, 166, 255);
    position: absolute;
    bottom: 0;
    left: 0;
    animation: m1 1.5s linear infinite alternate;
}
.outer > .card2 > .b5{
    height: 70px;
    width: 70px;
    background-color: rgb(0, 8, 255);
    position: absolute;
    top: 38%;
    left: 38%;
    animation: m5 1.5s linear infinite alternate;
}

@keyframes move {
    from {
        transform: translate(0,0);
    }
    to{
        transform: translate(230px,0);
        background-color: yellow;
        border-radius: 50%;

    }    
}

@keyframes m1 {
    from {
        transform: translate(0deg);
    }
    to{
        transform: rotate(360deg);
        background-color: rgb(255, 0, 0);
        border-radius: 50%;

    }
    
}

@keyframes m5 {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
         background-color: rgb(255, 0, 0);
        border-radius: 50%;
        transform: translate(center);
    }
    
}