*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner {
    height: 400px;
    width: 400px;
    background-color: black;
}

.inner > 