*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    display: flex;
    }
.left{
  /*  height: 100%;
    width: 50%; */

    flex-basis: 50%;

    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.left > img{
    height: 350px;
    width: 500px;
}
.right{
  /*  height: 100%;
    width: 50%; */

    flex-basis: 50%;

    background-color: rgb(24, 24, 199);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right > h1{
    margin-bottom: 20px;
    color: aliceblue;
}
.right > .i1{
      width: 300px;
      background-color: burlywood;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
      border-radius: 20px;
      gap: 5px;
}

.right > .i1 > label{
    font-size: 16px;
}
.right > .i1 > input{
         height: 30px;
         width: 260px;
         border-radius: 8px;
         font-size: 14px;
         font-family: Georgia, 'Times New Roman', Times, serif;
         padding-left: 10px;
         border: 0;
}

.right > .i1 > button{
    background-color: rgb(82, 77, 77);
    color: white;
    height: 30px;
    border-radius: 10px;
    margin-top: 8px;
    font-size: 14px;
    letter-spacing: 1px;

}
.right > .i1 > button:hover{
    background-color: rgb(255, 0, 0);
    cursor: pointer;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.footer > a{
    color:rgb(30, 5, 253);
    text-decoration: none;
    font-size: 17px;

}
