*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 80px;
    width: 100%;
    color: antiquewhite;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed; /* whenever fixed position you must put width */
}

nav >ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
}

nav >h1{
    color: rgb(255, 0, 0);
}

nav > ul >li{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5 ease-in;
}

nav > ul >li:hover{
    color: gray;
}

section{
    height: 480px;
    background-color: rgba(251, 173, 173, 0.996);
    display: flex;
    justify-content: center;
    align-items: center;
}
section >.container{
    height: 350px;
    width: 550px;
    background-color: whitesmoke;
    border: 5px black;
    margin-top: 60px;
    position: relative;

}
section > .container > #b1{
    height: 50px;
    width: 50px;
    background-color: red;
    border: 1px black;
    position: absolute;
    bottom: 0;
    right: 0;
   
}
section > .container >#b2{
    height: 50px;
    width: 50px;
    background-color: green;
    border: 1px black;
    position: absolute;
    right: 0;
}
section > .container >#b3{
    height: 50px;
    width: 50px;
    background-color: gold;
    border: 1px black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
section > .container >#b4{
    height: 50px;
    width: 50px;
    background-color: orangered;
    border: 1px black;
    position: absolute;
    bottom: 0;
}
section > .container >#b5{
    height: 50px;
    width: 50px;
    background-color: blue;
    border: 1px black;
    top: 0;
}

article > .outer{
    height: 300px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

article > .outer > .box{
    height: 200px;
    width: 300px;
    background-color: azure;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 30px;
}
article > .outer > .box >img{
    height: 70px;
    width: 100px;
}

main >   .map{
    height: 500px;
}

footer > .outer{
    height: 400px;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer >  .outer >.inner{
    height: 300px;
    width: 600px;
    background-color: rgb(255, 150, 3);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
