*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    background: linear-gradient(rgb(57, 49, 49),rgb(191, 37, 37));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.outer > .inner{
    height: 80vw;
    background-color: white;
    display: grid;
}