*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer{
    height: 100px;
    width: 100px;
    background-color: black;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer > .box{
    height: 50px;
    width: 50px;
    background-color: rgb(255, 255, 255);
    border: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.outer > #box1{
    background-color: antiquewhite;
    color: green;
    transition: all 1.2s;
}
.outer > #box1:hover{
transform: translateX(-2000px);}
.outer > #box2{
    background-color: rgb(10, 10, 9);
    color: rgb(238, 247, 238);
    transition: all 1.2s;
}

.outer > #box2:hover{
    transform: rotate(360deg);
}

.outer > #box3{
    background-color: rgb(255, 255, 10);
    color: rgb(238, 247, 238);
    transition: all 1.2s ease-in;
}

.outer > #box3:hover{
          transform: scale(1.3);
          box-shadow: 0px 4px 6px black;
}
.outer > #box4{
    background-color: rgb(3, 61, 83);
    color: rgb(238, 247, 238);
    transition: all 1.2s ease-in;
}

.outer > #box4:hover{
          transform: skew(1.3);
          box-shadow: 0px 4px 6px black;
}

.outer > #box5{
    background-color: rgb(239, 239, 239);
    color: rgb(10, 69, 10);
    transition: all 1.2s ease-in;
}

.outer > #box5:hover{
          transform: translate(-2000px+2000px) rotate(180deg);
          border-radius: 50%;
}