*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 400px;
    width: 600px;
    border: 2px solid orange;
}

.container > .box{
    height: 70px;
    width: 80px;
    border: 2px solid purple;
}

.container > #box1{
    display: inline-block;
}

.container > #box2{
    display: inline-block;
}

.container > #box3{
    display: inline-block;
}

.container > #box4{
    display: inline;
}
.container > button{
    display: block;
}

.card {
    width: 300px;
    border: 3px solid black;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 20px;
    background-color: black;

}
.card > button{
    width: 100%;
    background-color: chocolate;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 19px;
    font-weight: bold;
    border-radius: 10px;
    background-color: orange;
    cursor: pointer;
    border: none;
}
